{# freepost
 # http://freepo.st
 # 
 # Copyright © 2014-2015 zPlus
 # 
 # This file is part of freepost.
 # freepost is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 # 
 # freepost is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 # 
 # You should have received a copy of the GNU General Public License
 # along with freepost. If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'AppBundle:Default:index.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    
    {% stylesheets
        '@AppBundle/Resources/public/css/user.css'
        '@AppBundle/Resources/public/css/userMenu.css'
        '@AppBundle/Resources/public/css/userToolbar.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        
{% endblock %}

{% block javascript %}
    {{ parent() }}
    
    {% javascripts
        '@AppBundle/Resources/public/js/User/user.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="user">
        
        {# Right column #}
        
        <div class="sidebar">
            {# Community menu #}
            {% include 'AppBundle:Default:User/menu.html.twig' %}
        </div>
        
        {# Page content #}
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
    </div>

{% endblock %}




