/* freepost
 * http://freepo.st
 *
 * Copyright © 2014-2015 zPlus
 * 
 * This file is part of freepost.
 * freepost is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * freepost is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with freepost. If not, see <http://www.gnu.org/licenses/>.
 */

.userToolbar {
    color: #000;
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: .1em;
    margin: 0 0 1em 0;
    transition: all .5s;
    padding: 0;
    position: relative;
}
    
.userToolbar:hover {
}
    
    .userToolbar .userPicture {
        height: 2em;
        margin: 0 1em 0 0;
        vertical-align: middle;
    }
    
    .userToolbar > a {
        display: block;
        padding: .25em;
    }