{# freepost
 # http://freepo.st
 # 
 # Copyright © 2014-2015 zPlus
 # 
 # This file is part of freepost.
 # freepost is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 # 
 # freepost is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 # 
 # You should have received a copy of the GNU General Public License
 # along with freepost. If not, see <http://www.gnu.org/licenses/>.
 #}

<div class="box userToolbar">
    
    <a class="none" target="_self" href="{{ path('freepost_user', {'userName': app.user.username}) }}">
        <img class="userPicture" alt="" title="" src="{{ url('freepost_user_picture', {'userHashId': app.user.hashId}) }}" />
        {{ app.user.username }}
    </a>
    
</div>